standard/** linguist-documentation
docs/** linguist-documentation
notes/** linguist-documentation

src/main/util/errorReport.h linguist-language=C
src/main/util/vector.h linguist-language=C
src/main/lexer/lexDump.h linguist-language=C